.cartWrapper {
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 60px;

}

.lineCart {
    width: 1097px;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: #E5E5E5;
    height: 1px;
}

.brandCart {
    font-weight: 600;
    font-size: 30px;
    line-height: 27px;
    margin-bottom: 16px;
}

.nameCart {
    font-weight: normal;
    font-size: 30px;
    line-height: 27px;
    margin-bottom: 26px;
}

.priceCart {
    font-weight: bold;
    font-size: 24px;
    line-height: 18px;
}

.rightWindow {
    height: 185px;
    display: flex;
    flex-direction: row;
}

.window {
    width: 1097px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.interfaceCount {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 12px;
}

.interfaceCount > .buttonCount {
    border: 1px solid #1D1F22;
    color:#1D1F22;
    font-size: 24px;
    line-height: 160%;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonCount:hover {
    color: #FFFFFF;
    background-color: #1D1F22;
    cursor: pointer;
}

.countProduct {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 24px;
    line-height: 160%;
}

.nameProduct {
    margin-top: 20px;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
}

.galleryCart {
    position: relative;
    width: 100%;
    height: 100%;
}

.leftGallery {
    position: absolute;
    bottom: 5%;
    left: 50%;
    width: 24px;
    height: 24px;
    background-color: #1D1F22;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leftGallery:hover {
    background-color: #5ECE7B;
    cursor: pointer;
}

.rightGallery {
    margin-right: 10px;
    position: absolute;
    bottom: 5%;
    right: 0;
    width: 24px;
    height: 24px;
    background-color: #1D1F22;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rightGallery:hover {
    background-color: #5ECE7B;
    cursor: pointer;
}

.galleryCart > img {
    height: 100%;
    width: 141px;
    object-fit: cover;
    object-position: 25% 0px;
}

.cartAttribute {
    margin-top: 26px;
}

.itemsCart {
    display: flex;
    margin-bottom: 10px;
}

.itemsCart:last-child{
    margin-bottom: 0;

}

.itemCart {
    width: 80px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #1D1F22;
    font-size: 16px;
    margin-right: 12px;
    cursor: pointer;
}

.itemCart:last-child {
    margin-right: 0;
}

.itemCart:hover {
    color:#FFFFFF;
    background-color: #1D1F22;
    border:none
}

.itemCart_active {
    color:#FFFFFF;
    background-color: #1D1F22;
    border:none
}

.cart {
    margin-bottom: 1rem;
}

.colorAttribute {
    margin-right: 10px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.colorAttribute:hover {
    border: 1px solid #5ECE7B;
}

.colorAttributeActive {
    border: 1px solid #5ECE7B;
}

.blockColor {
    width: 32px;
    height: 32px;
    border: 1px solid#D3D2D5;
}

.finalPrice td {
    font-size: 18px;
    line-height: 28px;
}

.finalPrice {
    margin-bottom: 1rem;
}

.attributePrice {
    font-weight: bold;
    display: flex;
    padding-left: 5px;
}