html{
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

*, *::before, *::after {
    box-sizing: inherit;
    font-family: Raleway;
    color: #1D1F22;
}

.header {
    /* position: fixed; */
    top: 0;
    left: 0;
    width: 100%;
}

.wrapper {
    max-width: 1240px;
    margin: 0 auto;
}

.header__wrapper {
    max-height: 80px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    /* align-items: flex-end; */
    align-items: center;
}

.header__list {
    display: flex;
    flex-wrap: wrap;   
}

.header__logo {
    margin-left: 390px;
    margin-right: 500px;
}

.header__item {
    margin-right: 32px;
    text-transform: uppercase ;
}

.header__item:last-child{
    margin-right: 0;
}

.header__link {
    font-size: 16px;
    line-height: 120%;
    text-decoration: none;
}

.header__link__active {
    color: #5ECE7B;
    padding-bottom: 15px;
    border-bottom: 1.2px solid #5ECE7B;
}

.header__link:hover {
    color: #5ECE7B;
    padding-bottom: 15px;
    border-bottom: 1.2px solid #5ECE7B;
} 

.body {
    margin-top: 70px;
}

.body__header {
    text-transform: capitalize;
    font-size: 42px;
    line-height: 160%;
}

.productList {
    display: flex;
    flex-wrap: wrap; 
}

.product {
    margin-top: 90px;
    width: 390px;
    height: 450px;
    padding-left: 16px;
    padding-top: 11px;
    padding-right: 16px;
    display: flex;
    flex-direction: column;
}

.product:hover {
    box-shadow: 0px 0px 10px 5px rgba(139, 139, 139, 0.2);
    cursor: pointer;
}

.productImg {
    height: 338px;
    width: 356px;
    object-fit: cover;
    object-position: 0% -20px
}


.container {
    position: relative;
    
}

.text_block {
    width: 100%;
    height: 100%;
    position: absolute;
    color: #8D8F9A;
    background-color: #cfcfcf41;
    bottom: 0%;
    left: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.productItems {
    margin-top: 20px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
}

.select {
    position: relative;
    display: block;
    width: 60px;
    font-size: 18px;
}

.select__head {
    width: 100%;
    max-width: 100%;
    line-height: 18px;
    color: rgba(66, 67, 72, 0.8);
    cursor: pointer;
}

.select__head::after {
    width: 40px;
    height: 10px;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/></svg>') no-repeat right;
    position: absolute;
    right: 20px;
    bottom: 50%;
    transform: translateY(50%);
    content: '';
    display: block;
}

.select__head__active::after {
    width: 40px;
    height: 10px;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-up" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"/></svg>') no-repeat right;
    position: absolute;
    right: 20px;
    bottom: 50%;
    transform: translateY(50%);
    content: '';
    display: block;
}

.select__head.open::after {
    transform: translateY(50%) rotate(180deg);
}

.select__list {
    width: 100px;
    position: absolute;
    top: 100%;
    left: -25px;
    right: 0;
    box-shadow: 0px 0px 5px 1px rgba(139, 139, 139, 0.2);
    margin-top: 5px;
    max-height: 205px;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 100;
    margin: 0;
    padding: 0;
    color: #424348;
    scrollbar-color: dark;
    scrollbar-width: thin;
    overscroll-behavior: contain;
    margin-left: 15px;
}

.select__list::-webkit-scrollbar {
    width: 7px;
    background-color: #F8F9FA;
    padding: 5px;
}

.select__list::-webkit-scrollbar-thumb {
    background-color: #D9D9D9;
}

.select__list .select__item {
    position: relative;
    border-top: 1px solid rgba(224, 229, 231, 0.5);
    padding: 10px 15px;
    cursor: pointer;
    list-style-type: none;
}

.select__list .select__item:hover {
    background-color: rgba(224, 229, 231, 0.5);
}

.select__list > li:hover {
    cursor: pointer;
    background-color: rgba(194, 194, 194, 0.315);
}

.select__list > li {
    padding: 10px;
}

.galleryImgList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90px;
}

.galleryImgList > img {
    height: 90px;
    margin-bottom: 32px;
    cursor: pointer;
    object-fit: cover;
}

.buttonShowGallery {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    cursor: pointer;
}

.buttonShowGallery:hover {
    border: 1px solid #5ECE7B;
}

.galleryItem {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.galleryMainImg {
    margin-left: 30px;
    height: 500px;
    width: 500px;
}

.galleryMainImg > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 25% -20px;
}

.productItem {
    display: flex;
}

.aboutTheProduct {
    display: flex;
    flex-direction: column;
}