/* raleway-regular - latin */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/raleway-v26-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('./fonts/raleway-v26-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./fonts/raleway-v26-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/raleway-v26-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('./fonts/raleway-v26-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./fonts/raleway-v26-latin-regular.svg#Raleway') format('svg'); /* Legacy iOS */
  }
  /* raleway-500 - latin */
  @font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    src: url('./fonts/raleway-v26-latin-500.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('./fonts/raleway-v26-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./fonts/raleway-v26-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/raleway-v26-latin-500.woff') format('woff'), /* Modern Browsers */
         url('./fonts/raleway-v26-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./fonts/raleway-v26-latin-500.svg#Raleway') format('svg'); /* Legacy iOS */
  }
  /* raleway-600 - latin */
  @font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    src: url('./fonts/raleway-v26-latin-600.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('./fonts/raleway-v26-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./fonts/raleway-v26-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/raleway-v26-latin-600.woff') format('woff'), /* Modern Browsers */
         url('./fonts/raleway-v26-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./fonts/raleway-v26-latin-600.svg#Raleway') format('svg'); /* Legacy iOS */
  }
  /* raleway-700 - latin */
  @font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    src: url('./fonts/raleway-v26-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('./fonts/raleway-v26-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./fonts/raleway-v26-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/raleway-v26-latin-700.woff') format('woff'), /* Modern Browsers */
         url('./fonts/raleway-v26-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./fonts/raleway-v26-latin-700.svg#Raleway') format('svg'); /* Legacy iOS */
  }
  /* raleway-800 - latin */
  @font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    src: url('./fonts/raleway-v26-latin-800.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('./fonts/raleway-v26-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./fonts/raleway-v26-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/raleway-v26-latin-800.woff') format('woff'), /* Modern Browsers */
         url('./fonts/raleway-v26-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./fonts/raleway-v26-latin-800.svg#Raleway') format('svg'); /* Legacy iOS */
  }
  /* raleway-900 - latin */
  @font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    src: url('./fonts/raleway-v26-latin-900.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('./fonts/raleway-v26-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./fonts/raleway-v26-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/raleway-v26-latin-900.woff') format('woff'), /* Modern Browsers */
         url('./fonts/raleway-v26-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./fonts/raleway-v26-latin-900.svg#Raleway') format('svg'); /* Legacy iOS */
  }

html{
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

*, *::before, *::after {
    box-sizing: inherit;
    font-family: Raleway;
    color: #1D1F22;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    background-color: #FFFFFF;
}

.wrapper {
    max-width: 1240px;
    margin: 0 auto;
}

.header__wrapper {
    margin-top: 35px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.header__list {
    display: flex;
    flex-wrap: wrap;   
}

.header__logo {
    margin-left: 390px;
    margin-right: 500px;
}

.test {
    z-index: 2;
}

.header__item {
    margin-right: 32px;
    text-transform: uppercase ;
}

.header__item:last-child{
    margin-right: 0;
}

.header__link {
    font-size: 16px;
    line-height: 120%;
    text-decoration: none;
}

.header__link__active {
    color: #5ECE7B;
    padding-bottom: 12px;
    border-bottom: 1.2px solid #5ECE7B;
}

.header__link:hover {
    color: #5ECE7B;
    padding-bottom: 15px;
    border-bottom: 1.2px solid #5ECE7B;
} 

.body {
    padding-top: 150px;
}

.body__header {
    text-transform: capitalize;
    font-size: 42px;
    line-height: 160%;
}

.productList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product {
    margin-top: 90px;
    width: 390px;
    height: 450px;
    padding-left: 16px;
    padding-top: 11px;
    padding-right: 16px;
    display: flex;
    flex-direction: column;
}

.product:hover {
    box-shadow: 0px 0px 10px 5px rgba(139, 139, 139, 0.2);
    cursor: pointer;
}

.productImg {
    height: 338px;
    width: 356px;
    object-fit: cover;
    object-position: 0% -20px
}


.container {
    position: relative;
    
}

.text_block {
    width: 100%;
    height: 100%;
    position: absolute;
    color: #8D8F9A;
    background-color: #cfcfcf41;
    bottom: 0%;
    left: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.productInCart {
    position: absolute;
    bottom: -5%;
    left: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #5ECE7B;
    width: 52px;
    height: 52px;
    border-radius: 100%;
}

.productInCartImg {
    width: 35px;
    height: 35px;
}

.productItems {
    margin-top: 20px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
}

.productItems .price {
    font-weight: 500;
}

.select {
    position: relative;
    display: block;
    width: 60px;
    font-size: 18px;
}

.select__head {
    width: 100%;
    max-width: 100%;
    line-height: 18px;
    color: rgba(66, 67, 72, 0.8);
    cursor: pointer;
}

.select__head::after {
    width: 40px;
    height: 10px;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/></svg>') no-repeat right;
    position: absolute;
    right: 20px;
    bottom: 50%;
    transform: translateY(50%);
    content: '';
    display: block;
}

.select__head__active::after {
    width: 40px;
    height: 10px;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-up" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"/></svg>') no-repeat right;
    position: absolute;
    right: 20px;
    bottom: 50%;
    transform: translateY(50%);
    content: '';
    display: block;
}

.select__head.open::after {
    transform: translateY(50%) rotate(180deg);
}

.select__list {
    width: 100px;
    position: absolute;
    top: 100%;
    left: -25px;
    right: 0;
    box-shadow: 0px 0px 5px 1px rgba(139, 139, 139, 0.2);
    margin-top: 5px;
    max-height: 205px;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 100;
    margin: 0;
    padding: 0;
    color: #424348;
    scrollbar-color: dark;
    scrollbar-width: thin;
    overscroll-behavior: contain;
    margin-left: 15px;
}

.select__list::-webkit-scrollbar {
    width: 7px;
    background-color: #F8F9FA;
    padding: 5px;
}

.select__list::-webkit-scrollbar-thumb {
    background-color: #D9D9D9;
}

.select__list .select__item {
    position: relative;
    border-top: 1px solid rgba(224, 229, 231, 0.5);
    padding: 10px 15px;
    cursor: pointer;
    list-style-type: none;
}

.select__list .select__item:hover {
    background-color: rgba(224, 229, 231, 0.5);
}

.select__list > li:hover {
    cursor: pointer;
    background-color: rgba(194, 194, 194, 0.315);
}

.select__list > li {
    padding: 10px;
}

.bagInHead {
    position: relative;
    width: 29px;
    height: 29px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bagInHead > img {
    width: 25px;
    cursor: pointer;
}

.countProduct {
    position: absolute;
    color: #FFFFFF;
    left: 15px;
    bottom: 15px;
    background: #1D1F22;
    width: 20px;
    height: 20px;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    font-size: 14px;
    line-height: 16px;
}

.galleryImgList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90px;
}

.galleryImgList > img {
    height: 90px;
    margin-bottom: 32px;
    cursor: pointer;
    object-fit: cover;
}

.buttonShowGallery {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    cursor: pointer;
}

.buttonShowGallery:hover {
    border: 1px solid #5ECE7B;
}

.galleryItem {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.galleryMainImg {
    margin-left: 30px;
    height: 500px;
    width: 500px;
}

.galleryMainImg > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 25% -20px;
}

.productItem {
    display: flex;
}

.aboutTheProduct {
    display: flex;
    flex-direction: column;
    margin-left: 4rem
}

.aboutTheProduct .attributesProduct {
    display: flex;
    flex-direction: column;
}

.aboutTheProduct .attributeProduct {
    margin-top: 15px;
}

.aboutTheProduct .attributeProduct:first-child {
    margin-top: 0px;
}

.aboutTheProduct .attributeItemsProduct {
    display: flex;
    flex-direction: row;
}

.aboutTheProduct .attributeItemProduct {
    border: 1px solid #1D1F22;
    width: 80px;
    height: 45px;
    margin-right: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.aboutTheProduct .attributeItemProduct:hover {
    background-color: #1D1F22;
    color: #FFFFFF;
    border: 1px solid #e4e4e4;
}

.aboutTheProduct .attributeItemProduct_active {
    background-color: #1D1F22;
    color: #FFFFFF;
    border: 1px solid #e4e4e4;
}

.aboutTheProduct .attributeItemProduct:last-child {
    margin-right: 0px;
}

.aboutTheProduct .brandProduct {
    font-weight: 600;
    font-size: 30px;
    line-height: 27px;
}

.aboutTheProduct .nameProduct {
    margin-top: 16px;
    font-size: 30px;
    line-height: 27px;
}

.aboutTheProduct .priceProduct {
    margin-top: 40px;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
}

.aboutTheProduct .button__addProduct {
    margin-top: 20px;
    padding: 16px 32px;
    background: #5ECE7B;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    cursor: pointer;
}

.aboutTheProduct .button__addProduct:hover {
    background: #4d4d4d;
}

.aboutTheProduct .descriptionProduct {
    margin-top: 40px;
    font-size: 16px;
    line-height: 159.96%;
}

.aboutTheProduct .attributesProduct {
    margin-top: 40px;
}

.aboutTheProduct .attributeNameProduct {
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
}


.headerBag > h1 {

    font-style: normal;
    font-weight: bold;
}

.headerBag {
    display: flex;
    font-size: 16px;
    line-height: 160%;
}

.totalBag {
    width: 90%;
    position: absolute;
    bottom: 0;
    margin-bottom: 95px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-weight: bold;
}

.buttonsBag {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;
}

.buttonsBag > div, .buttonViewBag {
    width: 140px;
    height: 43px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1D1F22;
    border: 1px solid #1D1F22;
    cursor: pointer;
}

.buttonsBag > div:hover {
    background-color: #1D1F22;
    color: #FFFFFF;
    border: none;
}

.buttonViewBag:hover {
    background-color: #1D1F22;
    color: #FFFFFF;
    border: none;
}

.buttonsBag > .buttonCheckOut {
    color: #FFFFFF;
    border: 1px solid #5ECE7B;
    background: #5ECE7B;
    margin-left: 12px;
}

.productsCart {
    margin-bottom: 44px;
    display: flex;
    flex-direction: row;
}

.productsCart:last-child {
    margin-bottom: 0px;
}

.productCart {
    margin-top: 25px;
    overflow-x: hidden;
    overflow-y: auto;

    max-height: 315px;
}

.priceCart {
    margin-top: 5px;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
}

.attributeCart {
    display: flex;
    flex-direction: row;
    margin-top: 27px;
}

.itemCart {
    min-width: 24px;
    height: 24px;
    border: 1px solid #A6A6A6;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 7px;
    margin-left: 8px;
    background: #a6a6a68a;
    color: #A6A6A6

}

.itemCart:first-child {
    margin-left: 0px;
}

.itemCart_active {
    background: #1D1F22;
    color: #FFFFFF;
    border: 1px solid #e4e4e4;
}

.leftCart {
    width: 136px;
    margin-right: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rightCart {
    display: flex;
    align-self:center;
}

.rightCart > img {
    width: 105px;
    height: 137px;
    object-fit: cover;
    object-position: 25% 0px;
    margin-left: 10px;
}

.buttonsCountProduct {
    display: flex;
    flex-direction: column;
    min-height: 100%;

}

.buttonCountProduct {
    height: 24px;
    width: 24px;
    border: 1px solid #1D1F22;
    color: #1D1F22;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    cursor: pointer;
}

.buttonCountProduct:hover {
    color: #FFFFFF;
    background-color: #1D1F22;
}

.countProducts {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    margin-top: 31px;
    margin-bottom: 32px;
}