.FilterItems {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.FilterItemsAndTags {
    border: 1px solid #E5E5E5;
    max-height: 1000px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.lineCart {
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: #E5E5E5;
    height: 1px;
}

.Tags {
    box-sizing: border-box;
}

.FilterLogo {
    font-size: 18px;
    width: 3rem;
    margin-bottom: 1rem;
    cursor: pointer;
}

.FilterLogo:hover {
    color: #5ECE7B;
}

.FilterLogoActive {
    font-size: 18px;
    color: #5ECE7B;
    width: 3rem;
    margin-bottom: 0.3rem;
    cursor: pointer;
}

.FilterLogoActive:hover {
    color:black;
}

.ButtonClearClose {
    display: flex;
    margin-left: 1rem;
    justify-content: end;
}

.BodyTags {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0.5rem;
}

.BodyTag:first-child {
    margin-left: 0rem;
}

.DeleteTag {
    margin-left: 0.5rem;
    color:rgb(104, 29, 29);
    cursor: pointer;
}

.DeleteTag:hover {
    color:rgb(216, 37, 37);
}

.ButtonsFilter {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}