.SelectStyle {
    width: 100px;
    border: 1px solid #E5E5E5;
}

.SelectStyle:focus {
    border: 1px solid #5ECE7B;
}

.SelectStyle>option {
    display: flex;
    justify-content: end;
}

:focus {
    outline: none
}

.NameAndOptionsFilterItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}